/*-- scss:defaults --*/

// fonts
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@700&display=swap');
@import url('https://fonts.cdnfonts.com/css/brusher');

$font-family-sans-serif: "Atkinson Hyperlegible", sans-serif;
$presentation-heading-color: #000000;
$presentation-title-slide-text-align: "left";
$presentation-font-size-root: 36px;
$code-block-font-size: 0.7em;
$link-color: #7b94a1;

/*-- scss:rules --*/

details>summary {
  font-size: 0.75em;
}

.smaller {
  font-size: 0.5em;
}

.small {
  font-size: 0.75em;
}

.larger {
  font-size: 1.5em;
}

.largest {
  font-size: 3em;
}

.reveal h1 {
  background-color: #F8D863;
  padding-right: 15px;
}

.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
  background-color: #F8D863;
  padding-left: 15px;
}

.reveal .slide .task {
  border-left: 3px solid #7b94a1;
  padding-left: 0.5em;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  background: #B0D4E670;
}

.reveal .slide .demo {
  border-left: 3px solid #F8D863;
  padding-left: 0.5em;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  background: #fcefc0;
}

.reveal .slide .cloud {
  border-left: 3px solid #B0D4E6;
  margin-top: 0.5em;
  padding: 0.25em;
  background: #F3F7FB;
  font-size: 0.75em;
}

.reveal .slide .share {
  border-left: 3px solid #717DEF;
  padding: 0.25em;
  background: #F0F2FD;
  font-size: 0.75em;
}

.reveal .slide .in-out {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  padding-left: 1em;
  background: #E8E8E8;
  font-family: $font-family-monospace;
  font-size: 0.6em;
}

.reveal .slide .goal {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  padding-left: 1em;
  background: #B0D4E6;
}

.reveal countdown {
  position: fixed;
  bottom: 0em;
  right: 0em;
  font-size: 40px;
  border: 2px solid;
  border-radius: 5px;
  padding-left: 12px;
  padding-right: 12px;
  user-select: none;
}

.reveal .slide .project {
  padding: 10px;
  background-color: #FFFFFF; 
  border-style: solid;
  border-color: #F8D863;
  border-width: 5px;
}

.reveal pre {
  overflow-x: auto;
}
.reveal pre code {
  word-wrap: normal;
  white-space: pre;
}